<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="jumbotron">
            <h1 class="display-4">¡Bienvenidos al juego del tres en raya!</h1>
            <p class="lead">Juego para 2 jugadores.</p>
            <hr class="my-4">
            {% if partida is defined and partida is not null and not partida.finalizada %}
                En estos momentos ya hay una partida en curso. Termínala para poder comenzar una nueva.
            {% else %}
                <a class="btn btn-success btn-md" href="{{ path('nueva_partida') }}" role="button">
                    <i class="fas fa-th"></i> Nueva partida
                </a>
            {% endif %}
        </div>
    </div>
</div>