<h5 class="card-title"><i class="fas fa-user"></i> Jugador 1</h5>
<p class="ml-5"><span class="font-weight-bold">Apodo</span>: {{ partida.jugador1.apodo }}</p>
<p class="ml-5"><span class="font-weight-bold">Ficha</span>: <i class="fas fa-times"></i></p>

<hr>

<h5 class="card-title"><i class="fas fa-user"></i> Jugador 2</h5>
<p class="ml-5"><span class="font-weight-bold">Apodo</span>: {{ partida.jugador2.apodo }}</p>
<p class="ml-5"><span class="font-weight-bold">Ficha</span>: <i class="far fa-circle"></i></p>