{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            {% if partida is defined and partida is not null %}
                <h1 class="text-left">Tablero</h1>
                {% set dimensionTablero = tablero.dimension %}
                {% if fichas is empty %}
                    {#{% for  %}#}
                {% else %}

                {% endif %}

                {% include 'default/tablero.html.twig' %}
            {% endif %}
        </div>
    </div>

{% endblock %}