<table class="table table-bordered">
    <tbody>
    {% if fichas is defined and fichas is not empty %}
        {% for indiceFila in fichas | keys %}
            <tr>
                {% for indiceColumna, ficha in fichas[indiceFila] %}
                    <td class="text-center">
                        {% if ficha %}
                            {% set simboloFicha = ficha.tipo.simbolo %}
                            {% if simboloFicha == "X" %}
                                <i class="fas fa-times fa-3x"></i>
                            {% else %}
                                <i class="far fa-circle fa-3x"></i>
                            {% endif %}
                        {% else %}
                            <a role="button" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top"
                               title="Tooltip on top"
                               href="{{ path('poner_ficha', {'id': partida.id, 'fila': indiceFila, 'columna': indiceColumna}) }}">
                                <i class="fas fa-puzzle-piece"></i>
                            </a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
